<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.temp.testBatch.service.PrimaryMapper">
    <insert id="insertTemp" parameterType="com.temp.testBatch.job.TempData">
        INSERT INTO T_TEMP
	            (   TEMP_NO
	              , TEMP_NM
	              , TEMP_DTTM
	            )
	    VALUES	(	#{tempNo}
	    		  , #{tempNm}
	    		  , SYSDATE
	    		)
    </insert>
    
    <insert id="insertPrimary" parameterType="com.temp.testBatch.job.TempData">
    	INSERT INTO PRIMARY_TEMP
    			(	TEMP_NO
    			  , TEMP_NM
    			  , TEMP_DTTM
    			  , REG_DTTM
    			)
    	VALUES	(	#{tempNo}
    			  , #{tempNm}
    			  , TO_DATE(#{tempDttm}, 'YYYYMMDDHH24MISS')
    			  , SYSDATE
    			)
    </insert>
</mapper>